.git
.github
.next
.changethis-data
node_modules
apps/*/.next
apps/*/node_modules
packages/*/dist
packages/*/node_modules
logs
*.log
.env
.env.*
!.env.example
!.env.production.example
Dockerfile
docker-compose.override.yml
