# App
NEXT_PUBLIC_APP_URL=http://localhost:3000

# ChangeThis local demo project key
NEXT_PUBLIC_DEMO_PROJECT_KEY=demo_project_key
NEXT_PUBLIC_CHANGETHIS_PROJECT_KEY=changethis_project_key
NEXT_PUBLIC_ANDENNE_BEARS_PROJECT_KEY=andenne_bears_project_key
NEXT_PUBLIC_OPTIMASTER_PROJECT_KEY=optimaster_project_key
NEXT_PUBLIC_YODA_CARROSSERIE_PROJECT_KEY=yoda_carrosserie_project_key

# Future Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Future issue providers
GITHUB_APP_SLUG=
GITHUB_APP_ID=
GITHUB_APP_PRIVATE_KEY=
GITHUB_WEBHOOK_SECRET=
GITLAB_BASE_URL=https://gitlab.com
GITLAB_OAUTH_APP_ID=
GITLAB_OAUTH_APP_SECRET=
GITLAB_WEBHOOK_SECRET=
